
body{

background: #FFFAF0;

}

h1, h2 {

  color: #1E90FF;
  font-style: oblique;
}

ol, li {

font-style: normal;

}

table, tr, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {

  padding: 5px;
}

p {

  font-size: 14px;
}