<div>
    <a href="index.html">Home</a> | <a href="tables.html">Tables</a> | <a href="CR💩ppy WebS1t3.htm">Crappy Website</a>| | <a href="firstscripts.html">First Scripts</a> | <a href="forms.html">Forms</a> | <a href="polygons.html">Polygons</a> | <a href="calculator_try.html">Calculator</a> 


    <p>
        <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
        <img src="https://webpages.charlotte.edu/ciwu/itis3135/images/w3c-html-validation.png" width="88" height="31" alt="Validate webpage HTML." />
        </a>

        <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
        <img src="https://webpages.charlotte.edu/ciwu/itis3135/images/w3c-css-validation.png" width="88" height="31" alt="Validate webpage CSS." />
        </a>
    </p> 

    <p>Site Design by <a href="https://webpages.charlotte.edu/ciwu/itis3135/chiiiworldwide" target="_blank">Chiii Worldwide</a></p>
</div>

